# https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/performing_an_advanced_rhel_installation/kickstart-commands-and-options-reference_installing-rhel-as-an-experienced-user
#version=DEVEL

# Install OS instead of upgrade
install

# License agreement
eula --agreed

# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom

# Use text install
text

# Disable run of Setup Agent on first boot
firstboot --disable

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network --bootproto=dhcp --device=link --activate
network --hostname={{ base_image_name }}

# Root password
rootpw --iscrypted $6$CGMfRwZemvAnScNK$bECDaNQzTjXCXFSMCv7Gk32IQyL/iAKK7h59a5ADgHIFpwd6oZs86T3GwWHu7aTBBWV/oZ69mOPvqB9.Dc55V.

# SELinux configuration
selinux --enforcing

# Do not configure the X Window System
skipx

# System services
services --enabled="chronyd"

# System timezone
timezone America/Chicago

# Add a user named {{ packer_username }} - {{ packer_username }} / ssh key 
user --groups=wheel --name={{ packer_username }} --gecos="{{ packer_username }}"
sshkey --username={{ packer_username }} "{{ ssh_pub_key }}"

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr

# Clear the Master Boot Record
zerombr

# Partition clearing information
clearpart --all --initlabel

# Partitioning
#autopart --type=lvm

# Manual disk config(lvm)
part /boot --fstype="xfs" --ondisk=sda --size=1024
part pv.200 --fstype="lvmpv" --ondisk=sda --size=1 --grow
volgroup centos --pesize=4096 pv.200
logvol /  --fstype="xfs" --size={{ root_vol_starting_size }} --name=root --vgname=centos --grow
logvol /var/log  --fstype="xfs" --size={{ var_log_vol_size }} --name=var_log --vgname=centos
logvol /var/log/audit  --fstype="xfs" --size={{ var_log_audit_vol_size }} --name=var_log_audit --vgname=centos

# Reboot after successful installation
reboot

# Additional repos(during install)
repo --name=depdownloader --baseurl=http://{{ http_bind_address }}:{{ http_bind_port }}/rpms/

%packages
# From CentOS Minimal ISO
@^minimal
@core
chrony
kexec-tools
openssh
python
screen
# Exclude unnecessary firmwares
-iwl*firmware
#depdownloader packages
{% for package in redhat_common_packages %}
{{ package }}
{% endfor %}

{% if install_vmware_tools %}
{% for package in redhat_vmware_packages %}
{{ package }}
{% endfor %}
{% endif %}

{% if install_stig_deps %}
{% for package in redhat_stig_packages %}
{{ package }}
{% endfor %}
{% endif %}

{% if install_crio %}
{% for package in redhat_crio_packages %}
{{ package }}
{% endfor %}
{% endif %}

{% if install_kubernetes_tools %}
{% for package in redhat_kubernetes_packages %}
{{ package }}
{% endfor %}
{% endif %}

{% if install_openscap_tools %}
{% for package in redhat_openscap_packages %}
{{ package }}
{% endfor %}
{% endif %}

%end

# Disable kdump 
%addon com_redhat_kdump --disable --reserve-mb='auto'
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post --nochroot --logfile=/mnt/sysimage/root/ks-post.log

# Disable quiet boot and splash screen
sed --follow-symlinks -i "s/ rhgb quiet//" /mnt/sysimage/etc/default/grub
sed --follow-symlinks -i "s/ rhgb quiet//" /mnt/sysimage/boot/grub2/grubenv

# Passwordless sudo for the user 'packer'
echo "{{ packer_username }} ALL=(ALL) NOPASSWD: ALL" >> /mnt/sysimage/etc/sudoers.d/{{ packer_username }}
%end
