{
  "builders": [
    {
      "type": "vsphere-iso",

      "boot_order": "disk,cdrom",
      "boot_wait": "10s",
      "boot_command": [
	      "<esc><wait>",
    "linux ks={{ ks_url }}<enter>"
      ],
  
      "vcenter_server": "{{ vcenter_server }}",
      "username": "{{ vcenter_username }}",
      "password": "{{ vcenter_password }}",
      "insecure_connection": "true",
      "datacenter": "{{ vmware_datacenter }}",

      "CPUs": "{{ image_cpus }}",
      "RAM": "{{ image_memory }}",

{% if esxi_only %}
      "convert_to_template": "false",
{% else %}
      "convert_to_template": "{{ convert_to_template }}",
      "resource_pool": "{{ vmware_resource_pool }}",
      "cluster": "{{ vmware_cluster }}",
{% endif %}

      "vm_name": "{{ base_image_name }}",
      "folder": "{{ vmware_template_folder }}",
      "host": "{{ vcenter_host }}",
      "datastore": "{{ vmware_datastore }}",

{% if installer_iso.startswith('ds://') %}
      "iso_paths": [
	      "{{ installer_iso }}"
      ],
{% else %}
      "iso_url": "{{ installer_iso }}",
      "iso_checksum": "{{ installer_iso_checksum }}",
{% endif %}

      "guest_os_type": "{{ guest_os_type }}",
      "network_adapters": [
	{      
          "network": "{{ vmware_network }}",
          "network_card": "vmxnet3"
	}
      ],
      "disk_controller_type": "pvscsi",
      "storage": [
	{
          "disk_size": "{{ image_disk_size }}",
          "disk_thin_provisioned": true
         }
      ],

      "http_directory": "./dependencies/",
      "http_port_min": "{{ http_bind_port }}",
      "http_port_max": "{{ http_bind_port }}",
      "http_bind_address": "{{ http_bind_address }}",
      
      "communicator": "ssh",
      "ssh_username": "{{ packer_username }}",
      "ssh_private_key_file": "{{ key_file }}",
      "ssh_wait_timeout": "180s"
    }
  ],
  "provisioners": [
    {
      "type": "file",
      "source": "dependencies/containers",
      "destination": "/tmp/containers"
    },
    {
      "type": "file",
      "source": "dependencies/files",
      "destination": "/tmp/files"
    },
    {
      "type": "shell",
      "script": "packer/bootstrap.sh"
    }
  ]
}

