#!/bin/sh

main(){
  sudo mkdir /var/log/distillery
  sudo chown $USER /var/log/distillery

  load_images > /var/log/distillery/load_images.log 2>&1
  configure_sshd > /var/log/distillery/configure_sshd.log 2>&1
{% if install_crio %}
  configure_crio > /var/log/distillery/configure_crio.log 2>&1
{% endif %}
{% if install_stig_deps and install_openscap_tools %}
  apply_stig > /var/log/distillery/apply_stig.log 2>&1
{% endif %}
}

{% if install_crio %}
configure_crio(){

  # Clean out cri-o configs as they cause conflicts with kube network addons
  if [ ! -d "/etc/cni/net.d_disabled" ]; then
    sudo mkdir /etc/cni/net.d_disabled
    sudo mv /etc/cni/net.d/* /etc/cni/net.d_disabled/
  fi
  
  sudo bash -c 'cat <<EOF > /etc/modules-load.d/crio.conf
overlay
br_netfilter
EOF'
  sudo modprobe overlay
  sudo modprobe br_netfilter

  sudo bash -c 'cat <<EOF > /etc/sysctl.d/99-kubernetes-cri.conf
net.bridge.bridge-nf-call-iptables  = 1
net.ipv4.ip_forward                 = 1
net.bridge.bridge-nf-call-ip6tables = 1
EOF'
  sudo sysctl --system

  sudo systemctl enable crio

  sudo bash -c "cat<<EOF > /etc/sysconfig/kubelet
KUBELET_EXTRA_ARGS=--cgroup-driver=systemd --container-runtime=remote --container-runtime-endpoint=unix:///var/run/crio/crio.sock
EOF"
}
{% endif %}

load_images(){
  for image in /tmp/containers/*; do
    sudo podman load -i $image
  done
}

configure_sshd(){
  sudo sed -i "s/^PasswordAuthentication.*/PasswordAuthentication no/g" /etc/ssh/sshd_config
}

{% if install_stig_deps and install_openscap_tools %}
apply_stig(){
  sudo unzip /tmp/files/scap-security-guide-0.1.53.zip -d /usr/share/xml/scap/ssg/

  sudo ansible-playbook --connection local -i localhost, \
    /usr/share/xml/scap/ssg/scap-security-guide-0.1.53/ansible/rhel7-playbook-stig.yml \
    --skip-tags security_patches_up_to_date,sudo_remove_nopasswd,sysctl_net_ipv4_ip_forward

  sudo ansible-playbook --connection local -i localhost, \
    /usr/share/xml/scap/ssg/scap-security-guide-0.1.53/ansible/centos7-playbook-standard.yml \
    -e 'ansible_user=root' \
    --skip-tags security_patches_up_to_date,ensure_redhat_gpgkey_installed
}
{% endif %}

{% if install_cloudinit %}
cloud_init_cleanup() {
  pip install --upgrade pip
  curl -sSL https://raw.githubusercontent.com/vmware/cloud-init-vmware-guestinfo/master/install.sh | sh -
  cloud-init clean
  rm -f /usr/udev/rules.d/70-persistent-net.rules
  rm -f /etc/machine-id
  sed -i '/HWADDR/d' /etc/sysconfig/network-scripts/ifcfg-ens*
  rm -f /etc/sudoers.d/packer
  userdel -f -r centos 2>/dev/null || true
  userdel -f -r packer 2>/dev/null || true

}
{% endif %}

main

