#!/bin/sh
set -e

main(){
  add_repos
  download_packages
  create_redhat_repo
}

add_repos(){
  yum-config-manager \
      --add-repo \
      https://download.docker.com/linux/centos/docker-ce.repo

  yum -y install epel-release

  cat <<EOF > /etc/yum.repos.d/kubernetes.repo
[kubernetes]
name=Kubernetes
baseurl=https://packages.cloud.google.com/yum/repos/kubernetes-el7-\$basearch
enabled=1
gpgcheck=1
repo_gpgcheck=1
gpgkey=https://packages.cloud.google.com/yum/doc/yum-key.gpg https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg
EOF

  curl -s -L -o /etc/yum.repos.d/devel:kubic:libcontainers:stable.repo \
    https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/{{ crio_os_match }}/devel:kubic:libcontainers:stable.repo

  curl -s -L -o /etc/yum.repos.d/devel:kubic:libcontainers:stable:cri-o:{{ kube_version }}.repo \
    https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/{{ kube_version }}/{{ crio_os_match }}/devel:kubic:libcontainers:stable:cri-o:{{ kube_version }}.repo

}

download_packages(){
  yumdownloader -y \
    --destdir /opt/dependencies/rpms \
    --resolve \
    {{ download_rpms | join(' ') }} || true
}

create_redhat_repo() {
  yum -y install createrepo
  if [ -d /opt/dependencies/rpms/repodata ]; then
    rm -rf /opt/dependencies/rpms/repodata
  fi
  createrepo /opt/dependencies/rpms
}

main

