vsphere_server_ip         = "{{ vcenter_server }}"
vsphere_user              = "{{ vcenter_username }}"
vsphere_user_password     = "{{ vcenter_password }}"
allow_unverified_ssl      = "{{ allow_unverified_ssl }}"
cluster_folder            = "{{ vmware_vm_folder }}"
datacenter                = "{{ vmware_datacenter }}"
datastore                 = "{{ vmware_datastore }}"
cluster                   = "{{ vmware_cluster }}"
network                   = "{{ vmware_network }}"
cloud_init_template_image = "{{ base_image_name }}"

master_count              = "{{ master_count }}"
master_name               = "{{ master_name }}"
master_num_cpus           = "{{ master_num_cpus }}"
master_memory             = "{{ master_memory }}"

worker_count             = "{{ worker_count }}"
worker_name              = "{{ worker_name }}"
worker_num_cpus          = "{{ worker_num_cpus }}"
worker_memory            = "{{ worker_memory }}"

node_ssh_key             = "{{ ssh_pub_key | default('none') }}"
node_ssh_priv_keyfile    = "{{ key_file | realpath }}"
node_user                = "{{ node_user }}"

ansible_inventory_dir    = "{{ inventory_dir | realpath }}"
